<html>
	<head>
		<title>FIT2095 Assignment 1 Monash Events Management App (EMA)</title>
		<!-- Include Bootstrap min CSS -->
		<link href="bootstrap.min.css" rel="stylesheet" />
	</head>

	<body>
		 <!-- Create a container for an album-like section on a web page. -->
		<div class="album py-5">
			<!-- Create a container that provides a responsive and centered layout for the content within it. -->
			<div class="container">
				<!-- Create a button that will redirect the user back to main page . -->
				<a type="button" class="btn btn-primary" href="/">Home</a>
				<h3 class="my-2">Page not found</h3>
			</div>
		</div>
	</body>
</html>
