<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title> -->

    <!-- Include Bootstrap min CSS -->
    <link href="/bootstrap.min.css" rel="stylesheet">
    <!-- Include style css -->
    <link href="/style.css" rel="stylesheet">
</head>
<body>

    <!-- Header section
         with /EventTeamLogo.png
         image
    -->
    <div class="header">
        <img class="logo" src="/EventTeamLogo.png" alt="Logo">
    </div>
    
     <!-- Content section -->
    <div class="content">
        <h1>Add Keyword</h1>
        <p>Fill in keyword details & click submit</p>
    </div>
    

    <!-- Main content -->
    <main>

        <!-- Create a container for an album-like section on a web page. -->
        <div class="album py-5">
            <!-- Create a container that provides a responsive and centered layout for the content within it. -->
            <div class="container">
                
                <!-- Create a row with a specific layout in Bootstrap's grid system -->
                <div class="row row-cols-1 row-cols-sm-2 g-3">
                    <!-- Create a column with centered content using Bootstrap's grid system -->
                    <div class="col mx-auto"> 
                        <!-- Create a card with shadow effect -->
                        <div class="card shadow-sm">
                            <!-- Styling to create a visually distinct header section within the card. -->
                            <div class="card-header">
                                <h4 class="my-0 fw-normal">category Information</h4>
                            </div>
                            <!-- Contains the body of a card and is centered within its parent container.-->
                            <div class="card-body text-center">
                                 <!-- Form for adding category information -->
                                <form action="/add-category-post" method="POST">
                                    <div class="mb-3">
                                        <label for="Name" class="form-label">Keyword Input:</label>
                                        <input type="text" name="Name" class="form-control" id="Name" placeholder="Enter keyword" />
                                    </div>
    

                                     <!-- Submit button -->
                                    <button class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
